nav {
  .nav-list {
    display: grid;
    gap: 2rem;
    li {
      a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
